# Identifiant de l'utilisateur qui veut se connecter a la base de donnée
DB_USER = sae204_XX_user
# Mot de passe de ce même utilisateur
DB_PASSWORD = *********
# Url de la base de donnée distante
DB_HOST = mysql-sae204.alwaysdata.net
# Nom de la base de donnée sur le serveur
DB_NAME = sae204_XX_bd