<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block titre %}Données de santé{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')
        }}">
    </head>
    <body>
        <header>
            <h1>Données de santé libérale</h1>
            <nav>
                <a href="{{ url_for('accueil.index') }}">Accueil</a>
                <div id="user_login">
                    <img src="{{ url_for('static', filename='images/login_user_icon.svg') }}" alt="icone d'utilisateur" 
                    height="80" width="80">
                    {% if  current_user.id %}
                        {{ current_user.id }}
                        <a href="{{ url_for('login.logout') }}">Se deconnecte</a>
                    {% else %}
                        <a href="{{ url_for('login.login') }}">Se connecter</a>
                    {% endif %}
                </div>
                {% if current_user.permissions == "admin" %}
                    <a>Dev panel</a>
                {% endif %}
            </nav>
        </header>
        
        <main>
            {% block contenu %}{% endblock %}
        </main>

        <footer>
            <p>SAE2.01 · BUT Informatique · IUT Créteil-Vitry · <a href="{{ url_for('about.afficher') }}" >A propos de nous</a></p>
        </footer>
    </body>
</html>